<div class="navbar">
  <input type="text" placeholder=" digite o nome do restaurante">
  <div class="lupa-busca">
    <img src="../assets/imgs/lupa.png">
  </div>
</div>
<div class="container">
  <div class="box">
    <h4>PROCURA RÁPIDA</h4>
  </div>
  <div class="imgs-all">
    <div class="imgs1">
      <div class="background">
        <img src="../assets/imgs/arabia.png" (click)="resArabe()">
      </div>
    </div>
    <div class="imgs2">
      <div class="background">
          <img src="../assets/imgs/china.png" (click)="resJaponese()">
      </div>
    </div>
    <div class="imgs3">
      <div class="background">
        <img src="../assets/imgs/brazil.png" (click)="resBrazil()">
      </div>
    </div>
    <div class="imgs4">
      <div class="background">
        <img src="../assets/imgs/mexico.png" (click)="resMexico()">
      </div>
    </div>
</div>
</div>
  <div class="container-two">
    <div class="box-two">
      <ul class="list-container" *ngFor="let item of dados | slice:0:5"  >
        <li class="list-item-name"> {{item.name}}</li>
        <li class="list-item-type">{{ item.type.toLowerCase() }}</li>
        <hr class="list-item-line"/>
      </ul>
    </div>
  </div>
<div class="botao">
  <ul>
    <li>
      <a routerLink="/restaurantes">Ver todos</a>
    </li>
  </ul>
</div>

