.navbar{
  background-color: #997006;
  height: 200px;
  width: 380px;
}


.container{
  position: absolute;
  width: 380px;
  height: 450px;
  top: 118px;
  background: #EAA339;
}

.container-two{
  position: absolute;
  width: 380px;
  height: 400px;
  top: 450px;
  background: #997006;
}

.list-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  padding: 10px;
}

.list-item-type{
  text-align: end;
}
.list-item-line {
  left: 0;
  bottom: -5px; /* Ajuste o valor para controlar a posição da linha */
  width: 80%;
  height: 1px;
  background-color: #0c0c0c; /* Cor da linha */
  border: none;
}

a{
  position: absolute;
  left: 135px;
  top: 10px;
  font-size: 20px;
  text-decoration:none;
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid;
  border-radius: 14px;
  padding: 7px;
}


.botao{
  position: absolute;
  top: 760px;
  width: 380px;
}

.box{
  position: absolute;
  width: 280px;
  height: 253px;
  left: 12%;
  top: 10%;
  background: #997006;
  border-radius: 15px;
}

.box-two{
  position: absolute;
  width: 280px;
  height: 260px;
  left: 12%;
  top: 10%;
  background: rgb(255, 255, 255);
  border-radius: 15px;
}

input{
  padding-left: 20px;
  position: absolute;
  width: 250px;
  height: 40px;
  left: 50px;
  top: 39px;
  background: #EAA339;
  border-radius: 30px;
}

input:focus {
  outline: none;
}

.input-field::placeholder {
  color: white; /* Cor do texto do placeholder */
}

h4{
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

h3{
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.lupa-busca{
  position: absolute;
  width: 80px;
  left: 270px;
  top: 49px;
}

.background{
  background-color: white;
  width: 60px;
  padding: 9px;
  height: 50px;
}


.imgs1{
  position: absolute;
  width: 80px;
  left: 80px;
  top: 90px;
}

.imgs1 img {
  position: relative;
  bottom: 6px;
  left: 2px;
}

.imgs2{
  position: absolute;
  width: 80px;
  left: 220px;
  top: 90px;
}

.imgs2 img {
  position: relative;
  left: 5px;
}

.imgs3{
  position: absolute;
  width: 80px;
  left: 220px;
  top: 190px;
}

.imgs4{
  position: absolute;
  width: 80px;
  left: 80px;
  top: 190px;
}

.imgs4 img{
  position: absolute;
  bottom: 7px;
}

li{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}


