a{
  text-decoration:none;
  color: inherit;
}

.navbar{
  position: absolute;
  width: 380px;
  height: 118px;
  top: 0px;
  background: #FEFEFE;
}

.container-two{
  position: absolute;
  width: 380px;
  height: 700px;
  background: #997006;
}

.box{
  position: absolute;
  width: 280px;
  height: 253px;
  left: 12%;
  top: 10%;
  background: #997006;
  border-radius: 15px;
}

.box-two{
  position: absolute;
  width: 300px;
  height: 500px;
  left: 10%;
  top: 10%;
  background: #fdfdfde1;
  border-radius: 15px;
}

input{
  padding-left: 20px;
  position: absolute;
  width: 230px;
  height: 40px;
  left: 60px;
  top: 39px;
  background: #EAA339;
  border-radius: 30px;
}

h4{
  padding-top: 20px;
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.icone{
  font-size: 40px;
}

.list-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  padding: 10px;
}

.list-item-type{
  text-align: end;
}
.list-item-line {
  left: 0;
  bottom: -5px; /* Ajuste o valor para controlar a posição da linha */
  width: 80%;
  height: 1px;
  background-color: #0c0c0c; /* Cor da linha */
  border: none;
}

li{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

