<div class="container">
  <div class="icone">
    <mat-icon routerLink="/home" inline="true">keyboard_backspace</mat-icon>
  </div>
  <div class="box">
    <div class="imgs2">
      <h4>ARÁBIA</h4>
      <div class="background">
        <P>O MELHOR DA CULINÁRIA ÁRABE</P>
      </div>
    </div>
    <div class="box-two">
      <ul class="list-container" *ngFor="let item of dados "  >
        <li class="list-item-name"> {{item.name}}</li>
        <li class="list-item-type">{{ item.type.toLowerCase() }}</li>
        <hr class="list-item-line"/>
      </ul>
    </div>
  </div>
</div>



